:global(:root) {
    /* size of input elements */
    --input-size: 150px;

    /* transition for color elements */
    --input-transition: 250ms;

    /** colors for generic elements (or inactive ones) */
    --input-generic-light: #FFFFFF;
    --input-generic-medium: #D3D3D3;
    --input-generic-dark: #6A6A6A;
    --input-generic-accent: #000000;

    /** colors for active elements */
    --input-active-light: #D6ECF3;
    --input-active-medium: #0076F9;
    --input-active-dark: #0000FF;

    /** colors of valid elements */
    --input-valid-light: #90EE90;
    --input-valid-medium: #48B748;
    --input-valid-dark: #008000;

    /** colors of invalid elements */
    --input-invalid-light: #FFCCCB;
    --input-invalid-medium: #FF6666;
    --input-invalid-dark: #FF0000;
}

