.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.main {
    flex: 1 auto;
    overflow: hidden;
}

.handle {
    flex: 0 auto;
}

.options {
    flex: 0 auto;
    box-sizing: border-box;
    
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}

.optionsOpen {
    width: 500px;
}

.optionsClosed {
    width: 0px;
    overflow: hidden;
}