.spinner {
    width: fit-content;
    cursor: progress;
    width: 100%;
    box-sizing: border-box;

    --glass-size: 255px;
    --molecule-size: 110px;
    --molecule-image: 100px;
}

.message {
    width: 100%;
    text-align: center;
}

.logo {
    position: relative;

    margin: auto;
    width: var(--glass-size);
    height: var(--glass-size);

}

.logo::before {
    content: '';
    display: block;

    position: absolute;
    margin: auto;
    z-index: 1;

    width: var(--glass-size);
    height: var(--glass-size);

    background-image: url('./wisski_glass.svg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;


}

.logo::after {
    content: '';
    display: block;

    position: absolute;
    left: calc((var( --glass-size) - var(--molecule-size)) / 2);
    top: calc((var( --glass-size) - var(--molecule-size)) / 2);
    z-index: 0;

    width: var(--molecule-size);
    height: var(--molecule-size);

    /** center the molecule */
    background-image: url('./wisski_molecule.svg');
    background-size: cover;
    background-position: 50% 50%;
    background-size: var(--molecule-image) var(--molecule-image);
    background-repeat: no-repeat;

    animation: molecule 2s infinite linear;
}

@keyframes molecule {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-25px) rotate(180deg);
    }

    100% {
        transform:  translateY(0px) rotate(360deg);
    }
}