.display {
  box-sizing: border-box;

  min-width: 80vw;
  padding: 0.5em;

  border: 1px solid var(--theme-invalid-light);
  background-color: var(--theme-invalid-medium);

  font-family: monospace, monospace;
}

.header {
  margin-bottom: 1em;
}

.title {
  font-weight: bold;
}
.title::after {
  content: ': ';
}

.line {
  display: block;
  white-space: pre;
}

.display details {
  padding-top: 1em;
}
