.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.main {
    flex: 1 auto;
    overflow: hidden;
}

.handle {
    flex: 0 auto;
}

.options {
    flex: 0 auto;
    box-sizing: border-box;
}

.options.open {
    overflow-y: scroll;
    width: 500px;
}

.options.closed {
    display: none;
}