.table td, .table th {
    vertical-align: top;
}

tr.hidden {
    display: none;
}

span.path {
    display: block;
    font-family: monospace;
}

span.display_path {
    font-family: monospace;
}

span.path_class, span.path_predicate {
    color: black;
}

span.path_shared, span.path_skip {
    color: gray;
}

span.path_skip::before {
    font-family: monospace;
    content: '…';
}

span.path:not(:last-child)::after {
    content: " →";
}
span.path_disambiguation {
    color: red;
}

span.path_datatype {
    color: blue;
}