name: Lint & Check 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22.2.0
      uses: actions/setup-node@v4
      with:
        node-version: 22.2.0

    - name: Install Dependencies
      run: |
        yarn install --frozen-lockfile
    - name: Run Typechecker
      run: |
        yarn tsc
    - name: Run Linter
      run: |
        yarn lint
    - name: Run CSS Linter
      run: |
        yarn csslint
    - name: Run Spellchecker
      run: |
        yarn spellcheck
    - name: Run Test
      run: |
        yarn test
    - name: Run Build
      run: |
        yarn build
